{% extends "base_connected.html" %}
{% load gravatar %}
{% block content %}
{{ block.super }}
	<div class="span-18 border">
	<div class="notification">
	    <h2> {% gravatar user 25 %}notification title <a href="#">close it</a></h2>
	    <p class="notification-info">on Friday, december 12th 2009 | regarding <a href="#">Brice Leroy</a> on project <a href="#">super website</a> </p>
	    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tempor sapien dolor. In dolor velit, rutrum vel feugiat eget, pretium volutpat sapien. In sodales cursus gravida. Donec ipsum metus, auctor sed suscipit vitae, imperdiet eu urna. Curabitur ullamcorper hendrerit enim, sed suscipit ipsum mollis et. Donec tempor urna nec mi rutrum quis mollis lorem accumsan.</p>
	</div>
	<div class="notification">
	    <h2> {% gravatar user 25 %}notification title <a href="#">close it</a></h2>
	    <p class="notification-info">on Friday, december 12th 2009 | regarding <a href="#">Brice Leroy</a> on project <a href="#">super website</a> </p>
	    <p>In sodales cursus gravida. Donec ipsum metus, auctor sed suscipit vitae, imperdiet eu urna. Curabitur ullamcorper hendrerit enim, sed suscipit ipsum mollis et. Donec tempor urna nec mi rutrum quis mollis lorem accumsan.</p>
	</div>
	<div class="notification">
	    <h2> {% gravatar user 25 %}notification title <a href="#">close it</a></h2>
	    <p class="notification-info">on Friday, december 12th 2009 | regarding <a href="#">Brice Leroy</a> on project <a href="#">super website</a> </p>
	    <p>Donec tempor sapien dolor. In dolor velit, rutrum vel feugiat eget, pretium volutpat sapien. In sodales cursus gravida. Donec ipsum metus, auctor sed suscipit vitae, imperdiet eu urna. Curabitur ullamcorper hendrerit enim, sed suscipit ipsum mollis et. Donec tempor urna nec mi rutrum quis mollis lorem accumsan.</p>
	</div>
    {% block sub_content %}
    {% endblock %}
	</div>
    <div id="right_nav" class="span-6 last">
        <div id="gravatar"></div>
        <div class="clear"></div>
        <h2 class="nomargin bottomline">Shortcuts</h2>
	    <ul class="nomargin">
	        <li><a href="{% url profile_view %}">Personal Informations</a></li>
	        <li><a href="{% url password_view %}">Change Your Password</a></li>
	    </ul>
	</div>
{% endblock %}
{% block footerscript %}
    <script type="text/javascript">
        $('.notification h2 a').click(function(){
            $(this).parents('div.notification').slideToggle("slow");
        });
    </script>
{% endblock %}
