{% extends "base.html" %}
{% block content %}
    <div  class="prepend-6 span-12 append-6">
        <div class="message_box">
            <h2>Your Registration email will be send !</h2>
            <p> 
            An email will be send with a registration key to the email address {{ registration.email }} in a 
            minute or two. If you don't find it in your inbox, please check your spambox. 
            To ensure continued receipt of message from kaaloo , please add {{ DEFAULT_EMAIL_FROM }} 
            to your address book.
            </p>
            <p>
            If for some reason you do not receive the activation email within 24 hours,
            contact us at <a href="mailto:{{ SUPPORT_EMAIL }}?subject=Registration problem">{{ SUPPORT_EMAIL }}</a>  , and we'll do our best to get you back on track. 
            </p>
            <p class="alt right large">
            the Kaaloo team.
            </p>
        </div>
	<div class="clear"></div>
{% endblock %}