<div class="timer_item_container{% if not read_only %} closed{% endif %}"{% if not time_record.stop_date %} id="open_time_item"{% endif %}>
<div class="date" style="float: left;"><span>{{ time_record.start_date|date:'b' }}</span>{{ time_record.start_date|date:'d' }}</div>
<div class="timer_notice">
    <div class="timer_title">
        {% if not read_only %}
            <input type="hidden" name="time_id" value="{% url set_time_record time_record.id %}" />
            <a href="#" style="font-size: 0.6em; float:right;">edit</a>
        {% endif %}
        &nbsp;<strong>{{ time_record.title }}</strong>
    </div>
    <span>started on {{ time_record.start_date|date:'l \a\t H:i' }}{% if time_record.stop_date %}, ended at {{ time_record.stop_date|date:'H:i' }} - {{ time_record.start_date|timesince:time_record.stop_date }}{% endif %}</span>
    {% if not read_only %}
        <div class="form_placeholder hide"></div>
    {% endif %}
</div>
<div class="clear"></div>
</div>
