/*** elements ***/
body {
	background-image: url(/static/images/bg.gif);
	background-repeat: repeat-x;
	color: #444;
    font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}

h1,h2,h3,h4,h5,h6{
	color: #444;
    font-family: Georgia,'Times New Roman',Times,serif;
}

a{
    text-decoration: none;
    color: #649BCE;
}

a:hover{
    color: #333333;
}


form {
    background:#F8F8F8 none repeat scroll 0 0;
    border:1px solid #F0F0F0;
    margin:10px 20px;
    padding:15px 25px 0px;
}

form p label {
    width: 8em;
    float: left;
    margin: 0.5em 0;
    color:#444;
}

form .errorlist{
    color: red;
    list-style-type: none;
    padding: 5px 10px 5px 30px;
    border: 1px solid #B30030;
    background: #FFE5EC url(/static/images/red_arrow.png) no-repeat scroll 5px center;
}

/*** styler ***/
.nomargin{margin:0;}
.nopadding{padding:0;}
.bottomline{border-bottom: 1px dotted #eee;}
.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.alt{
    color: #666666;
    font-style: italic;
    font-family: "Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
}

input.button{
    background-color: #B2D17B;
    border-bottom: 1px solid #485E21;
    border-top: 1px solid #DDEBC7;
    border-right: 1px solid #485E21;
    border-left: 1px solid #DDEBC7;
    color: white;
    padding: 2px 5px 4px 5px;
    //-moz-border-radius: 2px;
    //-webkit-border-radius: 2px;
    height: 22px;
}

input.button:active{
    background-color: #A6CA68;
    border-bottom: 1px solid #DDEBC7;
    border-right: 1px solid #DDEBC7;
    border-top: 1px solid #485E21;
    border-left: 1px solid #485E21;
}



/*** main placeholder ***/
#footer-bottom{
    border-top: 1px dotted #eee;
}

#content{
}

#header{
    height: 120px;
}

#logo-text{
    position: absolute;
    top: 35px;
}

#slogan{
    position: absolute;
    top: 70px;
    font-size: 1.4em;
}

#nav{
    font-size: 1.6em;
    border-bottom: 1px dotted #eee;
    padding: 0px;
    margin: 0px;
}

#header_link{
    font-size: 1.1em;
    color: white;
    position: absolute;
    top: 5px;
}
#header_link a{
    color: white;
}

#header_link a:hover{
    text-decoration: underline;
}

#right_nav ul{
    margin-left: 0;
}

#right_nav h2{
    font-family: Georgia,'Times New Roman',Times,serif;
}

#gravatar img{
    float: right;
    background: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 35px 35px 0;
}

#gravatar p{
    font-size: 1em;
    font-family: Georgia,'Times New Roman',Times,serif;
}

#right_nav li{
    padding: 10px 0px;
    margin: 0;
    font-weight: bold;
    list-style-type: none;
    border-bottom: 1px dotted #eee;
}


/*** Blueprint Transformer ***/
div.colborder{
    border-style: dotted;
}

input[type="password"] {
    background-color:#FFFFFF;
    border:1px solid #BBBBBB;
    margin: 0.5em 0;
}

input[type="password"]:focus {
    border-color: #666666;
}

/*** other ***/
#nav a{
    color: #666;
}

#nav a:hover{
    color: black;
}

#nav ul{
    padding: 0;
    margin: 0;
}

#nav li{
    list-style-type: none;
    display: inline;
    border-left: 1px dotted #eee;
    padding: 5px 15px 0px;
}

#nav li:hover{
    border-bottom: 4px solid #649BCE;
    color: black;
}

#nav li.first{
    border-left: none;
}

#current{
    border-bottom: 4px solid #649BCE;
}

form.white {
    background:none;
    border:none;
}
form.white h2{
    border-bottom: 1px solid #eee;
}

form.wide label{
    width: 16em;
}

h2 span{
    color: #B2D17B;
}