{% extends "base.html" %}
{% block content %}
    <div  class="prepend-6 span-12 append-6">
        <form action="{% url password_reset %}" method="post" class="wide">
            <h2>Enter your email address</h2>
	        <p>
            You forgot your password? Enter your email below and we will send you an email with a 
            link to reset your password.
	        </p>
            {{ form.as_p }}
		    <p class="right">
		        <input type="submit" value="send email" class="button" />
		    </p>
            </p>
        </form>
	<div class="clear"></div>
{% endblock %}