{% extends "contact/contact_base.html" %}
{% block sub_content %}
    <div>
        <div class="message_box">
            <h2>An invite has been sent</h2>
            <p> 
            If the user was already a member of kaaloo, a friend request has been sent to this
            user. If not, the user will received an invitation to join kaaloo and be one of your
            contacts.
            </p>
            <p> 
            The mail will be send in a minute or two.
            </p>
        </div>
	<div class="clear"></div>
	</div>
{% endblock %}
