{% extends "base_connected.html" %}
{% block content %}
{{ block.super }}
	<div class="span-18 border">
    {% block sub_content %}
    {% endblock %}
	</div>
    <div id="right_nav" class="span-6 last">
        <div id="gravatar"></div>
        <div class="clear"></div>
        <h2 class="nomargin bottomline">Shortcuts</h2>
	    <ul class="nomargin">
	        <li><a href="{% url contact_view %}">Your Contacts ({{ user.get_profile.contacts.count }})</a></li>
	        <li><a href="{% url contact_requests_view %}">Contact Requests ({{ user.contact_requests_received.count }})</a></li>
	        <li><a href="{% url add_contact_view %}">Add Contacts</a></li>
	        <li><a href="{% url contact_detail user.get_profile.id %}">Your Public Profile</a></li>
	    </ul>
	</div>
{% endblock %}
