{% extends "base_connected.html" %}
{% block content %}
{{ block.super }}
	<div class="span-18 border">
    {% block sub_content %}
    {% endblock %}
	</div>
    <div id="right_nav" class="span-6 last">
        <div id="gravatar"></div>
        <div class="clear"></div>
        <h2 class="nomargin bottomline">Shortcuts</h2>
	    <ul class="nomargin">
	        <li><a href="{% url project_list_view %}">All Projects</a></li>
	        <li><a href="{% url my_projects_list_view %}">Your Projects</a></li>
	        <li><a href="{% url add_project_view %}">Create Project</a></li>
	    </ul>
	</div>
{% endblock %}
