{% load profile_tags %}
    <div id="add_spectator_form">
	<form action="{% url add_remove_spectator project.id %}" method="post" class="dialog_form">
	<p>
	    Please select who do you want to add to your project as spectator and click on add button.
	</p>
	<div class="contact_checkbox_dialog_form">
	{% for spectator in spectators %}
	<p>
	    <input type="checkbox" value="{{ spectator.id }}" name="already_spectators" id="id_spectator_{{ spectator.id }}" checked="checked" /><label for="id_spectator_{{ spectator.id }}"> {% name_and_email spectator %}</label>
	</p>
	{% endfor %}
	{% for contact in new_spectators %}
	<p>
	    <input type="checkbox" value="{{ contact.id }}" name="spectators" id="id_contact_spectator_{{ contact.id }}"/><label for="id_contact_spectator_{{ contact.id }}"> {% name_and_email contact %}</label>
	</p>
	{% endfor %}
    </div>
    <p>
    <input type="hidden" value="spectators" name="category" />
    <input type="submit" class="button" value="add/remove spectator" onclick="tb_remove()"/>
    </p>
    </form>
    </div>
